* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  color: #333;
  background-color: #f4f4f4;
  line-height: 1.6;
}

table, th,
td {
  border: 2px solid black;
  margin-top: 20px;
  border-collapse: collapse;
  padding: 5px;
}
